<div class="mt-4">
    <form method="POST" action="">
        <div class="form-group">
            <label for="search-input">Key word</label>
            <input type="text"  name="q" class="form-control" id="search-input" placeholder="Enter key word ...">

           <div class="form-group">
                <label for="search-input">Gender</label>
                <br>    
                <select   name="gender" class="gender-control" id="gender-input">
                    <option value="gender">--Giới tính--</option>
                    <option value="male">Nam</option>
                    <option value="female">Nữ</option>
                </select>
           </div>
            
        </div>
        
        <button type="submit" class="btn btn-primary">Search</button>
    </form>
</div>