<div class="mt-4">

 <div class="row">
    <div class="col-lg-3">
        <button>Học ngay</button>
        <ul>
            <li>{{course.level}}</li>
        </ul>
    </div>
    <div class="col-lg-9">

        <h2>{{course.name}}</h2>

        <iframe width="697" height="392" src="https://www.youtube.com/embed/{{course.videoId}}" title="Cài Đặt Ubuntu với WSL 1 | Install WSL 1 (WSL là chạy Ubuntu trên Windows)" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            <p>{{course.description}}</p>
    </div>
 </div>

</div>